/* crearUsuario.css - estilos para crearUsuario.html */
body {
    font-family: Segoe UI, Roboto, Arial, sans-serif;
    background: #f6f7fb;
    margin: 0;
    color: #222
}

.container {
    max-width: 600px;
    margin: 24px auto;
    padding: 16px
}

.card {
    background: #fff;
    padding: 18px;
    border-radius: 8px;
    border: 1px solid #eee
}

input,
button {
    width: 100%;
    padding: 8px;
    margin: 6px 0
}

.material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

