html,
body {
    height: 100%;
    margin: 0;
}

body {
    font-family: 'Plus Jakarta Sans', sans-serif;
    --main-dark-blue: #0A192F;
    --primary-accent: #3b82f6;
    --primary-accent-hover: #2563eb;
    --text-light: #e2e8f0;
    --text-secondary: #94a3b8;
}

.bg-image-container {
    background-image:  url('../static/img/tren_pantalla_inicio.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.overlay {
    background-color: rgba(10, 25, 47, 0.7);
}